// .fl-left {
//     float: left
// }
.booklist-single {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #EB9D07;
    padding-left: 10px;
    margin-bottom: 30px
}


.large-bkcard{
    display: table-row;
    width:100%;
    max-width: 700px;
    background-color: #f4eeee;
    color: #989898;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s ease; /* Adjust the time as needed */
    
}
a
.bkcard:hover{
    transform: scale(1.02);
    
}


.large-bkdate{
    display: table-cell;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 25%;
    width: 25%;
    background-color: #f7e0c8;
    position: relative;
    text-align: center;
    border-right: 3px dashed #fff    
}


.large-bkdate time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.large-bkdate time span {
    display: block
}

.large-bkdate-day {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 300%
}

.large-bkdate-month {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: -10px
}

.large-bkdate-weekday {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: -10px;
    color: #190731;
}

.large-bkdate-start {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px
}
.large-bkcard-cont {
    display: table-cell;
    max-width: 50%;
    width: 50%;
    font-size: 100%;
    color: black;
    text-transform: none;
    padding: 30px 30px 30px 30px;

}

.large-bkcard-cont h3 {
    color: #3C3C3C;
    font-size: 130%;
    font-weight: 900;
}


.large-bkcard-cont .large-even-date time span {
    display: block
}

.large-bkcard-final{
    display: table-cell;
    width:25%;
    max-width:25%;
    font-size: 100%;
    color: black;
    text-transform: none;
    h5{
        color: #3C3C3C;
        font-size: 100%;
        font-weight: 900;
    }
}
// .large-even-info{
//     border-radius: 20px;
//     width: 80px;
//     height: 30px;
//     background-color: #eb9d07;
//     color: #190731;
//     letter-spacing: 1px;
//     font-weight: 900 !important;
//     text-align: center;
//     line-height: 30px;
//     position: absolute;
//     right: 15px;
//     bottom: 15px
// }

