.aboutimg {
    background-image: url("../assets/banner.avif");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    &__abouttext{
        font-style: oblique;
        letter-spacing: 1px;
        font-weight: 500;
    }
    
    
}