.aboutimg {
    background-image: url("../assets/banner.avif");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position:50% 50%;
    image-rendering: crisp-edges;

}