.aboutimg {
    background-image: url("../assets/banner.avif");
    // background-image: url(https://github.com/arupay/fspp-food-truck-app/assets/96318127/7e3cb4b2-6951-4b93-854e-e5edfb6c85b9);
    // background-image:url("../assets/aboutbglarge.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
    &__mask{
        background-color: rgba(0,0,0,0.5); 
        margin-top: 100px;
        width: 500px;
        align-self: center;
        font-size: 18px;
        @media (max-width: 500px) {
            font-size: 12px;
            width: 300px;
        }
    }
    &__abouttext{
        font-style: oblique;
        letter-spacing: 1px;
        font-weight: 500;
    }
    
    
}