body {
  margin: 0;
  /* background-color: #f7e0c8 !important; */
}


.dark-line {
  border: 0;
  height: 2px; 
  background-color: #333; 
  margin: 20px 0;  
}


.nav-text {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:1.5em !important;
  margin-left: 20px;
  margin-right: 20px;
  color: #2c2c2f !important;
}
.nav-text:hover{
  color: #9a7a58 !important;
  
}
.nav-text.active {
  position: relative;
}

.nav-text.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #2c2c2f; /* or any other color you prefer for the underline */
}

.nav-text:hover::before {
  left: 50%;
  right: 50%;
  transition: all 0.5s ease; /* this gives the shrinking effect */
}

.index-title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #031a25;
  height: 75px;
  background-color: #f7e0c8;
  width: 100%;
}


.index-title-text{
  margin: 20px;
  box-sizing: border-box;
  display: block;
  font-size:19px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}


