body {
  margin: 0;

}

/* Styles for the Nav.Link text */
.nav-link {
  font-weight: bold !important;
  font-size: 25px !important;
  transition: all 0.5s;
  color: initial !important;

}

/* Hover effects */
.nav-link:hover {
  font-size: 27px !important;
}


.room-card:hover {
  background-color: rgb(237, 235, 235);
}